@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root{
    /* primary */
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(168, 34%, 41%);
    /* neutral */
    --very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    /* font-family */
    --fraunces : 'Fraunces';
    --barlow : 'Barlow';
}
body{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 100vh;
    min-height: 500px;
    max-height: 1000px;
    position: relative;
    background-image: url(../images/mobile/image-header.jpg);
    background-position: bottom center;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 24px; 
    position: relative;   
}
.btn-hamburger{
    cursor: pointer;
}
.menu{
    position: absolute;
    top: 120px;
    width: 90%;
    background: white;
    left: 0;
    right: 0;
    margin: 0 auto;
    list-style: none;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    font-family: 'Barlow';
}
.menu-active{
    opacity: 1;
    visibility: visible;
}
.menu::before{
    content: '';
    position: absolute;
    display: flex;
    background:transparent;
    width: 30px;
    height: 30px;
    bottom: 100%;
    right: 0;
    border-width: 15px 15px 15px 15px;
    border-color: transparent white white transparent;
    border-style: solid;
    box-sizing: border-box;
}
.li-menu{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.a-menu{
    display: flex;
    padding: 12px 0;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    color: gray;
    margin-bottom: 6px;
}
.menu .li-menu:last-child .a-menu{
    background: yellow;
    width: auto;
    padding: 16px 32px;
    border-radius: 32px;
    color: black;
}
.info-header{
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-header h1{
    font-family: 'Fraunces', serif;
    color: var(--white);
    font-size: 36px;
    text-align: center;
    margin-bottom: .9em;
    letter-spacing: 8px;
    width: 90%;
    overflow: hidden;
    /* background: red; */
}
.about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-element{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.about-element img{
    width: 100%;
    /* max-height: 400px; */
    /* backgr */
}
.about-info{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.about-info_element{
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-info h2{
    font-family: var(--fraunces);
    margin-bottom: 1em;
    width: 100%;
    max-width: 320px;
    text-align: center;
    font-size: 1.8em;
}
.about-info p{
    font-family: var(--barlow);
    line-height: 1.5em;
    text-align: center;
    width: 100%;
    max-width: 350px;
    margin-bottom: 2em;
    /* background: green; */
}
.about-info a{
    color: black;
    text-decoration: none;
    font-family: var(--fraunces);
    font-weight: 900;
}
/* services */
.services{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.services-element{
    width: 100%;
    position: relative;
}
.services-element figure{
    background: green;
    height: 100%;
    line-height: 0;
}
.services-element img{
    width: 100%;
    height: 100%;
}
.imagen1{
    display: block;
}
.imagen2{
    display: none;
}
.services-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    /* background: red; */
    height: 50%;
    width: 90%;
    max-width: 350px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.services-info h2{
    font-family: var(--fraunces);
    margin-bottom: 1.1em;
    font-size: 2em;
}
.services-info p{
    font-family: var(--barlow);
    line-height: 1.6em;
}
.services-info h2,
.services-info p{
    text-align: center;
}
@media screen and (min-width: 567px){
    .info-header h1{
        font-size: 44px;
    }
}
@media screen and (min-width: 768px) {
    header{
        max-height: 1000px;
        background-image: url(../images/desktop/image-header.jpg);
    }
    .about-element:first-child{
        flex-direction: row-reverse;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 32px; 
        position: relative;   
    }
    .btn-hamburger{
        display: none;
    }
    .menu{
        position: initial;
        width: 450px;
        /* width: 55%; */
        margin: 0;
        padding: 0;
        flex-direction: row;
        justify-content: space-between;
        background: transparent;
        transition: none;
        opacity: 1;
        visibility: visible;
    }
    .a-menu{
        color: white;
        padding: 0;
        margin: 0;
    }
    .menu .li-menu:last-child .a-menu{
        background: white;
    }
    .info-header{
        /* background: red; */
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .info-header h1{
        font-size: 52px;
        letter-spacing: 8px;
        
    }
    .about-element{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .about-element img{
        width: 50%;
    }
    .about-info{
        width: 50%;    
    }
    .about-info_element{
        padding: 0;
        /* background: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about-info h2,
    .about-info p{
        max-width: 300px;
        text-align: left;
    }
    .about-info a{
        align-self: flex-start;
    }
    .services-element{
        width: 50%;
        position: relative;
    }
    /* .imagen1{
        display: none;
    }
    .imagen2{
        display: block;
    } */
}
@media screen and (min-width : 992px) {
    .about-info h2,
    .about-info p{
        max-width: 450px;
        text-align: left;
    }
    .services-info{
        height: 55%;
        /* background: red; */
    }
    .imagen1{
        display: none;
    }
    .imagen2{
        display: block;
    }
}
@media screen and (min-width : 1200px){
    .services-info{
        height: 50%;
        /* background: red; */
    }
}